html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}



html,
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
body{
    background-color: silver;
}

h1, h2 {
  color: #cf8a05;
  font-weight: bold;
}


h1 {
  margin: 10px;
}



article {
  margin: 10px;
}
.clear {
  clear: both;
}
form div{
    margin: 10px;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #444;
}

a {
  color: inherit;
}

.cv {
  width: 90%;
  max-width: 800px;
  background: #fff;
  margin: 30px auto;
}

.cv:hover {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.cv:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.primaryContent {
  display: flow-root;
}
.mainDetails {
  padding: 25px 35px 0px;
  border-bottom: 2px solid #cf8a05;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
}

.bioDetails {
  margin-top: 30px;
  font-size: 0.75em;
}

#name h1 {
  font-size: 2.5em;
  font-weight: 700;
  font-family: "Gudea", Helvetica, arial, sans-serif;
  margin-bottom: -6px;
}

#name h2 {
  font-size: 2em;
  margin-left: 2px;
  font-family: "Gudea", Helvetica, arial, sans-serif;
}

#personalArea {
  padding: 0 40px;
}

#mainArea {
  padding: 0 40px;
}

.contactInfo {
  float: left;
  list-style-type: none;
}

.contactInfo li {
  margin : 0.5em 0 0.5em 0;
}

.breakFastBurrito {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.breakFastBurrito:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#headshot {
  width: 12.5%;
  float: left;
  margin-right: 30px;
}

#headshot img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#name {
  float: left;
  margin-bottom: 1em;
}

section {
  border-top: 1px solid #dedede;
  padding: 20px 0 0;
}

#personalArea section:first-child {
  border-top: 0;
}

section:last-child {
  padding: 20px 0 10px;
}

.title {
  float: left;
  width: 25%;
}

.sectionContent {
  float: right;
  width: 72.5%;
}

.title h1 {
  font-family: "Gudea", helvetica, arial, sans-serif;
  font-size: 0.89em;
  color: #cf8a05;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sectionContent h2 {
  font-family: "Gudea", helvetica, arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: -2px;
}

.subDetails {
  font-size: 0.8em;
  font-style: bold;
  margin-bottom: 3px;
}

.keySkills {
  list-style-type: none;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  margin: 20px 0px;
  font-size: 1em;
  color: #444;
}

.keySkills li {
  margin-bottom: 0.25em;
  background-color: #cf8a05;
  text-align: center;
  border-radius: 100px;
  font-weight: bold;
}

@media all and (min-width: 801px) {
  #personalArea {
    padding: 0 20px;
    width: 34%;
    float: right;
  }

  #mainArea {
    padding: 0 20px;
    width: 66%;
    float: left;
  }

  .title {
    float: left;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1.25em;
  }

  .sectionContent {
    float: right;
    width: 100%;
  }

  section:first-child {
    border-top: 0;
  }
}

@media all and (min-width: 643px) and (max-width: 800px) {
  #headshot {
    display: none;
  }

  .keySkills {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media all and (max-width: 642px) {
  .cv {
    width: 95%;
    margin: 10px auto;
    min-width: 280px;
    transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
  }

  #headshot {
    display: none;
  }

  #name {
    float: none;
    width: 100%;
    text-align: center;

  }

  .title,
  .sectionContent {
    float: none;
    width: 100%;
  }

  .title {
    margin-left: -2px;
    font-size: 1.25em;
  }

  .keySkills {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media all and (max-width: 480px) {
  .mainDetails {
    padding: 15px 15px 0px;
  }

  section {
    padding: 15px 0 0;
  }

  #mainArea,
  #personalArea {
    padding: 0 25px;
  }

  .keySkills {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  #name h1 {
    line-height: 1em;
    margin-bottom: 4px;
  }
  #nav ul li a{
    font-size: small;
  }
}

.keySkills li p{
    background-color: #cf8a05;
    border-radius: 50px;
    text-align: center;
}

.bg-dark {
  background-color: rgb(50, 43, 43);
}

.bg-white {
  color: white;
}

footer p {
text-align: center;
}

#nav ul{
  background-color: #cf8a05;
  display: flex;
  list-style: none;
  padding: 0.5em;
  justify-content: space-around;
  border-radius: 10px 10px 0px 0px;
}
#nav ul li{
  color: #f3f3f3;
}
#nav nav ul li a{
  text-decoration: none;
}
.top{
  margin-bottom: 1em;
}